# Al configurar la compilación nos deshacemos de un gitignore grande.
archivos_auxiliares/
archivos_finales/*.gz
.vscode/
 #Eliminar scripts dependientes del sistema operativo
*.bat
*.sh
# Por que yo uso https://plugins.jetbrains.com/plugin/9473-texify-idea
.idea